<div class="wrapper">
	<div class="login-container">
		<h1>Welcome</h1>
    <%= form_for(:session, url: login_path, as: 'login-form') do |f| %>
      <%= f.email_field :email, placeholder: 'Email' %>
      <%= f.password_field :password, placeholder: 'Password' %>
      <%= f.submit "Log in",id: 'login-button' %>
    <% end %>
    <p>New user? <%= link_to "Press here", signup_path, style: 'color: darkgreen' %> to sign up.</p>

	</div>

	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
