<div class="wrapper">
	<div class="login-container">
		<h1>Welcome</h1>
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.email_field :email, class: 'login-input', required: true, placeholder: 'Email' %>
      <%= f.password_field :password, class: 'login-input', required: true, placeholder: 'Password' %>
      <%= f.submit "Log in",id: 'submit-button', data: { disable_with: 'Submitting...' } %>
    <% end %>
    <p>New user? <%= link_to "Press here", signup_path, style: 'color: darkgreen' %> to sign up.</p>

	</div>

	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
