<div class="wrapper signup-wrapper">
  <div class="login-container">
    <h1>Sign up</h1>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.text_field :name, class: 'login-input', placeholder: 'Name' %>
      <%= f.email_field :email, class: 'login-input', placeholder: 'Email' %>
      <%= f.password_field :password, class: 'login-input', placeholder: 'Password' %>
      <%= f.password_field :password_confirmation, class: 'login-input', placeholder: 'Password confirmation' %>
      <br>
      <%= f.submit 'Sign up', id: 'signup-button' %>
    <% end %>
  </div>
  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
