<div class="col-md-6">
  <div class="event-details">
    <h3> <%= link_to event.title, event_path(event), style: 'text-decoration: none' %> </h3>
    <div class="description">
      <h5>
        <%= event.description[0..120] %><% if event.description.size >= 120 %>...<% end %>
      </h5>
    </div>
    <div class="arrival-details">
      <h5><%= event.location %></h5>
      <h5><%= event.date.strftime("%d/%m/%Y") %> <%= event.time.strftime("at %I:%M %p") %></h5>
      <h5>
        Event by:
        <%= link_to event.creator.name, user_path(event.creator) %>
      </h5>
    </div>
  </div>
</div>
