<div class="col-md-6">
  <div class="well border-blue" style="background: whitesmoke;">
    <h4 class="text-center">
      <%= link_to event.title, event_path(event), style: 'text-decoration: none' %>
    </h4>
    <hr>
    <h5>
      <%= event.description[0..50] %><% if event.description.size >= 50 %>...<% end %>
    </h5>
    <br>
    <h5>Location: <%= event.location %></h5>
    <br>
    <h5>
      <span class="pull-left">
        Date: <%= event.date %>
      </span>
    </h5>
    <h5>
      <span class="pull-right">
        Event by:
        <%= link_to event.creator.name, user_path(event.creator) %>
      </span>
    </h5>
  </div>
</div>
