<div class="col-md-6">
  <div class="well">
    <h3>
      <%= link_to event.title, event_path(event), style: 'text-decoration: none' %>
    </h3>
    <h5 style="font-weight: 500;">
      <%= event.description[0..45] %><% if event.description.size >= 45 %>...<% end %>
    </h5>
    <br>
    <h5><%= event.location %></h5>
    <h5>
        <%= event.date.strftime("%d/%m/%Y") %> at <%= event.time.to_s[-13..-8] %>
    </h5>
    <h5>
        Event by:
        <%= link_to event.creator.name, user_path(event.creator) %>
    </h5>
  </div>
</div>
