<%= form_for(@event) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>
  <br>
  <%= f.label :description %>
  <%= f.text_area :description, class: "form-control ", size:'20x3'%>
  <br>
  <%= f.label :location %>
  <%= f.text_field :location, class: "form-control" %>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <%= f.label :date %>
      <div class="input-group">
        <%= f.text_field :date, class: "form-control datepicker" %>
        <span class="input-group-addon"></span>
      </div>
    </div>
    <div class="col-sm-6">
      <%= f.label :time %>
      <div class="input-group">
        <%= f.text_field :time, class: "form-control timepicker" %>
        <span class="input-group-addon"></span>
      </div>
    </div>
  </div>
  <br>
  <%= f.submit @event.new_record? ? "Create event" : "Edit event", class: "btn btn-primary" %>
<% end %>
