<div class="container">
  <header>
    <nav class="navbar">
      <ul class="navbar_fx">
        <%= create_nav_item('Home', root_url) %>
        <% if logged_in? %>
          <%= create_nav_item('Profile', profile_path) %>
          <%= create_nav_item('Events', events_path) %>
          <%= create_nav_item('Create event', new_event_path) %>
          <%= create_nav_item('Logout', logout_path, :delete) %>
        <% else %>
          <%= create_nav_item('Events', events_path) %>
          <%= create_nav_item('Login', login_path) %>
          <%= create_nav_item('Sign up', signup_path) %>
        <% end %>
      </ul>
    </nav>
  </header>
</div>
