<header class="navbar">
  <div class="container">
    <nav class="navbar">
      <div class="navbar-header">
        <%= link_to root_url do %>
        <div class="logo">
            <h4>Aviv&#8482;</h4>
          </div>
        <% end %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Profile", profile_path %></li>
          <li><%= link_to "Events", events_path %></li>
          <li><%= link_to "Create Event", new_event_path %></li>
          <li><%= link_to "Logout", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
          <li><%= link_to "Sign up", signup_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
